*{
    box-sizing: border-box;
}

body {
    background-color: #848FA5;
}

/*About*/
#about {
    display: flex;
    justify-content: center;
    padding: 35px;
}

#graphics {
    display: flex;
    margin: 0px 70px;
    align-items: center;
}

#software {
    border: 5px solid black;
    border-radius: 300px
}

#bio {
    text-align: center;
    font-size: x-large;
    margin: 0px 50px;
    border: 5px solid;
    padding: 150px 30px;
    border-radius: 30px; 
}

/*Contact*/
#contact {
    display: flex;
    justify-content: center;
    padding: 35px;
}

label {
    font-size: x-large;
}

/*Footer*/
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #E5DCC5;
}

/*Nav*/
#nav-bar {
    background-color: #E5DCC5;
}

#nav-bar a {
    color:  #c14953;
    font-size: medium;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar li {
    background: white;
    border-radius: 30px;
}
  
/*Portfolio*/
#portfolio {
    display: flex;
    justify-content: center;
    padding: 35px;
}

#description {
    font-size: x-large;
}

/*Resume*/
#skills {
    text-align: center;
    list-style-type:lower-alpha
}

#skills h1 {
    padding: 7px;
}

.container{ 
    display: flex;
}

.skills-container{
  width: 50%;
  margin: 20px auto;
}

h4{
  margin-bottom: 5px;
}

.container {
  width: 100%;
  background-color: #ddd;

}

.html {
  width: 90%;
  background-color: #4CAF50;
}

.css {
  width: 80%;
  background-color: #2196F3;
}

.js {
  width: 80%;
  background-color: #f44336;
}

.jq {
  width: 75%;
  background-color: #B388FF;
}

.react {
    width: 50%;
    background-color: #B388FF;
}

.bootstrap {
    width: 85%;
    background-color: #B388FF;
}

#back-end {
    margin-top: 20px;
}

.api {
    width: 65%;
    background-color: #23c1c7;
}

.node {
    width: 70%;
    background-color: #8d1d3f;
}
  
.express {
    width: 70%;
    background-color: #328354;
}
  
.mysql {
    width: 70%;
    background-color: #a19f16;
}
  
.graphql {
      width: 40%;
      background-color: #a19f16;
}
  
.sequelize {
      width: 75%;
      background-color: #a19f16;
}

/*Effects*/
.effect {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
  
.effect .effect-img {
    font-size: 0;
    overflow: hidden;
}
  
.effect .effect-img img {
    width: 100%;
    height: auto;
    transition: .3s;
}
  
.effect:hover .effect-img img {
    transform: scale(1.2);
}
  
.effect .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    transform: scale(0);
    opacity: 0;
}
  
.effect:hover .effect-text {
    transform: scale(1);
    opacity: 1;
}
  
.effect .effect-text h2 {
    height: 45px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}
  
.effect .effect-text p {
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 20px 0;
}
  
.effect .effect-btn .btn {
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: #333333;
    background: #ffffff;
    text-decoration: none;
}

/*Responsive Design*/
@media screen and (max-width: 980px) {
    #form {
        padding: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    #graphics {
        display: block;
    }

    #graphics img{
        width: 200px;
        height: 200px;
        display: none;
    }

    #form {
        padding: 0 !important;
    }

}

@media screen and (max-width: 576px) {
    #graphics {
        display: block;
    }

    #graphics img{
        width: 200px;
        height: 200px;
        display: none;
    }

    #form {
        padding: 0 !important;
    }
}